<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add
            id="NewEcomAi_ShopSmart::Manage"
            title="NewEcomAi"
            module="NewEcomAi_ShopSmart"
            sortOrder="10"
            resource="NewEcomAi_ShopSmart::Manager" />
        <add
            id="NewEcomAi_ShopSmart::shopsmart"
            title="Shop Smart"
            module="NewEcomAi_ShopSmart"
            sortOrder="12"
            parent="NewEcomAi_ShopSmart::Manage"
            action="route/controller/index"
            resource="NewEcomAi_ShopSmart::shopsmart" />
    </menu>
</config>
