<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\Console\CommandList">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="newecomai_shopsmart:sync_catalog_command" xsi:type="object">
                    NewEcomAI\ShopSmart\Console\Command\SyncCatalogCommand</item>
            </argument>
        </arguments>
    </type>
    <type name="NewEcomAI\ShopSmart\Console\Command\SyncCatalogCommand">
        <arguments>
            <argument name="helperData" xsi:type="object">NewEcomAI\ShopSmart\Helper\Data\Proxy</argument>
            <argument name="productCollectionFactory" xsi:type="object">Magento\Catalog\Model\ResourceModel\Product\CollectionFactory\Proxy</argument>
            <argument name="area" xsi:type="object">Magento\Catalog\Model\ResourceModel\Product\CollectionFactory\Proxy</argument>
        </arguments>
    </type>
</config>
